.slider-slide.slick-center {
    width: 100%;
    /* 중앙 슬라이드를 크게 표시 */
    transform: scale(1);
    /* 확대 비율 */
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(0, 0, 0, 0.25);
}

.slider-slide {
    width: 80%;
    /* 양쪽 슬라이드를 작게 표시 */
    transform: scale(0.8);
    /* 축소 비율 */
    border-radius: 5px;
    background: lightgray;
}